.card {
    position: relative;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    background-color: #121212;
    width: 20rem;
    height: 20rem;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    animation: fadeInAnimation ease 2s 1 forwards;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.imgContainer {
    height: 100%;
    border-radius: 10px;
  }

.cardImg {
    width: 100%;
    border-radius: 10px;
    height: 100%;
    object-fit: cover;
  }

.infoContainer {
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
    background-color: rgba(85, 34, 124, 0.784);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-align: center;
  }

.card:hover {
    cursor: pointer;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
  
.card:hover .infoContainer {
    opacity: 1;
  }

@media screen and (max-width: 768px) {
    .infoContainer {
      max-width: 100%;
      height: 25%;
      opacity: 1;
      top: auto;
      bottom: 0;
    }
    .genres {
      display: none;
    }
    .title {
      font-size: 1.2rem;
      font-weight: 500;
    }
}